// Colors
/*Primary*/
$orangeBg: hsl(31, 77%, 52%);
$cyandBg:hsl(184, 100%, 22%);
$cyanvBg:hsl(179, 100%, 13%);

$whiteP: hsla(0, 0%, 100%, 0.75);
$whiteM:hsl(0, 0%, 95%);

// Media queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

// Typography
$primaryFont: 'Big Shoulders Display', cursive;
$secondaryFont:'Lexend Deca', sans-serif;